<g:encodeAs codec="raw">
    <div class="waiting" style="display:${waitingDisplay}">
        ${title}: <g:message code="conferenceMeasurement.waiting"/>
    </div>
    <div class="loaded" style="display:${loadedDisplay}">
        ${title}:
        <span name="${name}" style="display:inline; float:none">
            ${value}
        </span>
    </div>
</g:encodeAs>