#linksTable {
    display: inline-table;
    width: 80%;
    word-break: break-all;
}

#showLinksTable {
    display: inline-table;
    width: 70%;
    word-break: break-all;
}

.link-action-cell {
    width: 10%
}

input[type="text"], select {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    width: 40% !important;
}

input#addNewLink {
    float: none;
    border-radius: 5px;
    margin: 0 0 10px 0 !important;
}

